.game-field-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: cornsilk;
    margin: 5px 0;
}

.img-card {
    width: 90px;
}

.not-belong-players-block {
    color: cornsilk;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.discard-pile-block {
    min-width: 90px;
}

.cards-in-fight-block {
    min-width: 90px;
}

.deck-block {
    min-width: 90px;
    min-height: 100px;
    background-color: rgba(148, 72, 6, 0.4);
    border: #0B0C10 solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cards-on-table-block {
    background-color: rgba(148, 72, 6, 0.4);
    width: 40%;
    border: #0B0C10 solid;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.player-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cards-in-hand-block {
    max-width: 60%;
}

.cards-in-hand-opponent-block {
    max-width: 30%;
}

.img-card-in-hand-opponent {
    width: 40px;
}

.player-name-block {
    background-color: rgba(97, 47, 4, 0.5);
    border: #0B0C10 solid;
    border-radius: 7px;
}

.player-name-text {

}