body {
    background: #0B0C10;
    margin: 0;
}

.text-contributors {
    margin:0 0;
    padding: 20px 1px;
    font: 50pt Megrim;
    color: #C5C6C7;
}

.text-contributor1 {
    margin:0 0;
    padding: 14px 1px;
    color: #C5C6C7;
}

.text-contributor2 {
    margin:0 0;
    padding: 14px 1px;
    color: #C5C6C7;
}

.about-block {
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-left: 330px;
    margin-top: 100px;
    left: 300px;
    top: 100px;
    width: 620px;
    height: 400px;
}

.text-header {
    margin:0 0;
    padding: 20px 1px;
    font: 50pt Megrim;
    color: #0B0C10;
    -webkit-text-stroke: 2px #66FCF1;
}

.text-button {
    border: 0;
    font: 20pt Satisfy;
    background: rgba(0, 0, 0, 0);
    color: #C5C6C7;
}

.text-button:hover {
    color: white;
}

#canvas_background {
    z-index: 0;
}

#game {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 800px;
    height: 600px;
}

.menu-block {
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-left: 550px;
    margin-top: 100px;
    left: 300px;
    top: 150px;
    width: 270px;
    height: 290px;
    text-align: center;
}

.train-block {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.table_block {
    width: 900px;
    margin-top: 70px;
    background: #0B0C10;
    border: 1px solid  #1B1C12;
    height: 100%;
    max-height:350px;
    overflow: auto;
    padding: 15px;
    text-align: center;
}

.rules-block {
    margin-left: 200px;
    margin-top: 70px;
    width:940px;
    background:  #0B0C10;
    border: 1px solid  #1B1C12;
    height: 100%;
    max-height:440px;
    overflow: auto;
    padding: 15px;
}

.list-rooms-block {
    margin-left: 210px;
    display: flex;
    flex-direction: column;
    width: 900px;
}

.list-rooms-row {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.col-head {
    margin: 30px 0;
    color: #C5C6C7;
    font: 20pt Satisfy;
    width: 400px;
    text-align: center;

}

.col-row {
    width: 400px;
    margin: 10px 0;
    color: white;
    font: 12pt Satisfy;
}

p {
    border: 0;
    font: 20pt Satisfy;
    color: #C5C6C7;
}

form {
    margin-left: 20px;
    margin-top: 60px;
    text-align: center;
}