body {
    background: #0B0C10;
}

.text-header {
    margin:0 0;
    padding: 20px 1px;
    font: 50pt Megrim;
    -webkit-text-stroke: 2px #66FCF1;
}

.text-button {
    border: 0;
    font: 20pt Satisfy;
    background: rgba(0, 0, 0, 0);
    color: #C5C6C7;
}

.text-button:hover {
    color: white;
}

#canvas_background {
    z-index: 0;
}

#game {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 800px;
    height: 600px;
}

.menu-block {
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-left: 550px;
    margin-top: 100px;
    left: 300px;
    top: 150px;
    width: 270px;
    height: 290px;
    text-align: center;
}

.list-rooms-block {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.list-rooms-row {
    width: 800px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.col-head {
    margin: 20px 0;
    color: white;
    font: italic 15pt Arial;
    width: 200px;

}

.col-row {
    width: 200px;
    margin: 10px 0;
    color: white;
    font: 12pt Arial;
}